@model Blog.WEB.UI.Models.Member
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{

    <link rel="stylesheet" href="@Url.Content("~/Content/Pages/index.css")"/>
}

@section Body{
    <section class="content">
        <div class="row">
            @using (Html.BeginForm("SignIn", "Home", FormMethod.Post, new { @class = "sign-in" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { htmlAttributes = new { @for = "sign-in-email" } })
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { id = "sign-in-email", @placeholder = "Email", @class = "form-control", type = "email", value = "av17lost@gmail.com" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { htmlAttributes = new { @for = "sign-in-password" } })
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { id = "sign-in-password", @placeholder = "Password", @class = "form-control", type = "password", value = "123456"} })
                </div>
                <div class="form-group">
                    <p class="help-block"><a href="#" id="sign-up-link">or sign up</a></p>
                </div>
                <button type="submit" class="btn btn-default" id="submit-sign-in">Sign in</button>
            }
            @using (Html.BeginForm("SignUp", "Home", FormMethod.Post, new { @class = "sign-up" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { htmlAttributes = new { @for = "sign-up-email" } })
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { id = "sign-up-email", @placeholder = "Email", @class = "form-control", type = "email" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { htmlAttributes = new { @for = "sign-up-password" } })
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { id = "sign-up-password", @placeholder = "Password", @class = "form-control", type = "password" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmedPassword, new { htmlAttributes = new { @for = "sign-up-rep-password" } })
                    @Html.EditorFor(m => m.ConfirmedPassword, new { htmlAttributes = new { id = "sign-up-rep-password", @placeholder = "Repeat password", @class = "form-control", type = "password" } })
                </div>
                <button type="submit" class="btn btn-default" id="submit-sign-up">Sign up</button>
            }
        </div>
    </section>
}

@section Scripts{
    <script src="~/Scripts/Pages/index.js"></script>    
}