<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="@Url.Content("~/Scripts/Libs/jquery/jquery.min.js")"></script>
    <link href="@Url.Content("~/Content/Libs/bootstrap-3.3.6/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/Libs/bootstrap-3.3.6/bootstrap.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/Common/common.css")"/>
    @RenderSection("Style", false)

</head>
<body>
    <div class="container-fluid">
        @RenderSection("Body", false)
    </div>
    @RenderSection("Scripts", false)
</body>
</html>