@model IEnumerable<Blog.WEB.UI.Models.Article>

@foreach (Blog.WEB.UI.Models.Article item in Model)
{
    <article class="artilce">
        <div class="latest-project">
            <div class="article-title">
                @item.Title
            </div>
            <div class="article-meta-data">
                <div class="article-post-date">
                    <i class="fa fa-clock-o" aria-hmediaFileIdden="true"></i>@item.PublishDate.Value.ToLongDateString()
                                                                    
                </div>
                <div class="article-tag">
                    <i class="fa fa-tags"></i>@item.Category
                </div>
                <div class="article-number-comments">
                    <i class="fa fa-comments"></i>@item.NumberOfComments Comments
                </div>
            </div>
            <div class="article-img">
                @{
    if (@item.ArticleCover != "")
    {
        <img src="@Url.Content("~/Images/"+@item.ArticleCover)"/>            
    }
                }

            </div>
            <div class="article-content">
                @Html.Raw(@item.Content)
            </div>
        </div>
       @Html.ActionLink("Read more","Index","Article",new {id = @item.ArticleId},new { @class="read-more-btn"})
    </article>
}
